body{
    
    padding: 0;
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    background-image: url('../../Planning Folder/image folder/quizGameBackground.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p{
    display: flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 19;
    font-weight: bolder;
}    

.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:200;
    font-style: normal;
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 250px;
    max-width: 80%;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
}
#answerForm{
    display: flex;
    flex-direction: row;
}
.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 30px;
    padding: 10px;
   
    
}
#startButton{
    display: flex;
    background-color: white;
    box-sizing:border-box ;
    justify-content: space-between;
    margin: 20px 0px;
    width: fit-content;
    
}
#timerDisplay{

}
#submitButton{
    display: flex;
    background-color: white;
    box-sizing:border-box ;
    position: absolute;
    right: 800px;
    bottom: 340px;
     
}
#restartQuizButton{
    display: none;
}
#nextQuestionButton {
    display: flex;
    background-color: white;
    box-sizing:border-box
    margin: 20px,0;
    width: fit-content;
}

#radio-container {
    display: none;
    
    
}