.body{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}
.container{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: normal;
}
.controls{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#startButton{
    display: flex;
    background-color: white;
    justify-content: space-around;
    align-items: baseline;
   
}
#timerDisplay{
    display: flex;

}